.git
.github
.gitignore
.idea
.vscode
.editorconfig
.gitattributes
.gitlab-ci.yml
.pre-commit-config.yaml
.readthedocs.yml
.travis.yml
venv
__pycache__
*.pyc
*.pyo
node_modules
web/node_modules
db.sqlite3
